/* CSS Document */
html{
	height: 100%;
	font-size: 16px
}
body{
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 100%;
	/*background-image:url("file:///C|/Users/dell/Desktop/H5实验/timg4.png");*/
}
.findPassword_wrap{
	width: 300px;
	height: 300px;
	background-color:azure;
	border-radius: 10px;
}
.findPassword_tittle{
	text-align: center;
	font-family: '微软雅黑';
	font-size: 2em;
}
.findPassword_content_form{
	margin-left: 40px;
}
.findPassword_content_submit{
	text-align: center;
	margin-top: 10px;
	width: 100%;
}
input{
	border-radius: 6px;
}
p{
	color: #999999;
	text-align: center;
	padding-bottom:10px;
	font-size:1em;
}
.mail{
	font-size: 1em;
	font-family: '微软雅黑';
}
.mark{
	color: #999999;
	display: inline-block;
	font-siz:12px;
	margin-left: 50px;
}
input[type="submit"]{
	color: white;
	background-color: #FC5628;
	padding:5px 10px;
	border-radius: 8px;
	font-weight:bold;
	width: 30%;
}