/* CSS Document */

html{
	height: 100%;
	font-size: 16px
}
body{
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 100%;
	/*background-image:url("file:///C|/Users/dell/Desktop/H5实验/timg4.png");*/
}
.modifiedPassword_wrap{
	width: 300px;
	height: 300px;
	background-color:azure;
	border-radius: 10px;
}
.modifiedPassword_tittle{
	text-align: center;
	font-family: '微软雅黑';
	font-size: 2em;
}
.modifiedPassword_content{
	margin-top: 20px;
}
.newPassword_name{
    float: left;
	margin-top: 25px;
	margin-left: 30px;
}
.newPassword_form{
	float: left;
	margin-top: 25px;
	margin-left: 0px;
}
.name{
	float: right;
	font-family: "微软雅黑";
}
.name:before{
	content:"* ";
	color:red;
}
.nPassword{
	border-radius: 6px;
}
.passwordSubmit{
	text-align: center;
}
.nSubmit{
	width: 70%;
	margin-top: 40px;
	height: 30px;
	font-size: 14px;

    font-family:'微软雅黑";  
	background-color: #FC5628;
	color: #ffffff;
	border-radius: 8px;/*设置圆角样式*/
	font-weight: bold;
	padding: 5px 10px;
}
