/* CSS Document */
html{
	height: 100%;
	font-size: 16px
}
body{
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 100%;
	/*background-image:url("file:///C|/Users/dell/Desktop/H5实验/timg4.png");*/
}
.register_wrap{
			
	width: 500px;
			
	height: 500px;
			
	background-color:azure;
			
	border-radius: 10px;
}
/*.register_wrap:before{
			
	display:block;
			
	content:"";
			
	width: 100%;
			
	height: 10px;
			
	background-image: -webkit-linear-gradient(top,red, #7C7272);
			
	border-radius: 10px 10px 0 0;
		
}*/
.register_tittle{
	text-align: center;
	font-family: "微软雅黑";
	color: black;
	font-size: 2em;
	width: 100%;
	height: 10%;
	background-color: ;
	border-radius: 0px 0px 10px 10px;
	padding-top: 10px;
	
}

ui{
	width: 500px;
	margin-left: 50px auto;
}

li{
	list-style-type: none;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	color:black;
	font-size: 13px;
	font-family: "微软雅黑";
}

.mark{
	color: #999999;
	display: inline-block;
	padding-bottom:10px;
	font-siz:12px;
}
span:first-of-type{
	display: inline-block;
	width: 140px;
	text-align: right;
	font-weight: bold;
	margin-right: 10px;
}
input[type="radio"]{
	width: auto;
	height: 25px;
	border:1px solid #999999;
	padding:0;
	maigin:0 5px;
	vertical-align: middle;
}
input[type="checkbox"]{
	width: auto;
	height: 25px;
	border:1px solid #999999;
	padding: 0;
	maigin:0 5px;
	vertical-align: middle;
}
input[type="submit"]{
	color: white;
	background-color: #FC5628;
	padding:5px 10px;
	border-radius: 8px;
	font-weight:bold;
	width: 30%;
}
li:nth-last-child(1){
	text-align: center;
}
.mustItem:before{
	content:"* ";
	color:red;
}
input{
	border-radius: 6px;
}
